@{
    ViewBag.Title = "Manage Libraries";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Library_Management_System.Models.DTO.Account
<!DOCTYPE html>
<html lang="en">

<head>
    @if (TempData["Message"] != null)
    {
        <script>
            alert('@Html.Raw(TempData["Message"])')
        </script>
    }
    <title>Admin Account</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="CodedThemes">
    <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.mCustomScrollbar.css">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div class="page-wrapper">
        <div class="page-body">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card widget-card-1">
                        <div class="card-block-small">
                            <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
                            <span class="text-c-blue f-w-600">Books</span>
                            <h4>@Html.DisplayFor(m => m.count.BooksCount)</h4>
                            <div>
                                <span class="f-left m-t-10 text-muted">
                                    <i class="text-c-blue f-16 icofont icofont-warning m-r-10"></i>Total Books
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card widget-card-1">
                        <div class="card-block-small">
                            <i class="icofont icofont-ui-home bg-c-pink card1-icon"></i>
                            <span class="text-c-pink f-w-600">Libraries</span>
                            <h4>@Html.DisplayFor(m => m.count.LibrariesCount)</h4>
                            <div>
                                <span class="f-left m-t-10 text-muted">
                                    <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>Total Libraries
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card widget-card-1">
                        <div class="card-block-small">
                            <i class="icofont icofont-warning-alt bg-c-green card1-icon"></i>
                            <span class="text-c-green f-w-600">Librarian</span>
                            <h4>@Html.DisplayFor(m => m.count.LibrarianCount)</h4>
                            <div>
                                <span class="f-left m-t-10 text-muted">
                                    <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>Total Librarians
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card widget-card-1">
                        <div class="card-block-small">
                            <i class="icofont icofont-social-twitter bg-c-yellow card1-icon"></i>
                            <span class="text-c-yellow f-w-600">Students</span>
                            <h4>@Html.DisplayFor(m => m.count.StudentCount)</h4>
                            <div>
                                <span class="f-left m-t-10 text-muted">
                                    <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Total Students
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h5>Statestics</h5>
                            <div class="card-header-left ">
                            </div>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="icofont icofont-simple-left "></i></li>
                                    <li><i class="icofont icofont-maximize full-card"></i></li>
                                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                                    <li><i class="icofont icofont-error close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block">
                            <div id="statestics-chart" style="height:517px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-4">
                    <div class="card fb-card">
                        <div class="card-header">
                            <i class="icofont icofont-social-facebook"></i>
                            <div class="d-inline-block">
                                <h5>facebook</h5>
                                <span>blog page timeline</span>
                            </div>
                        </div>
                        <div class="card-block text-center">
                            <div class="row">
                                <div class="col-6 b-r-default">
                                    <h2>23</h2>
                                    <p class="text-muted">Active</p>
                                </div>
                                <div class="col-6">
                                    <h2>23</h2>
                                    <p class="text-muted">Comment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card dribble-card">
                        <div class="card-header">
                            <i class="icofont icofont-social-dribbble"></i>
                            <div class="d-inline-block">
                                <h5>dribble</h5>
                                <span>Product page analysis</span>
                            </div>
                        </div>
                        <div class="card-block text-center">
                            <div class="row">
                                <div class="col-6 b-r-default">
                                    <h2>23</h2>
                                    <p class="text-muted">Live</p>
                                </div>
                                <div class="col-6">
                                    <h2>23</h2>
                                    <p class="text-muted">Message</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card twitter-card">
                        <div class="card-header">
                            <i class="icofont icofont-social-twitter"></i>
                            <div class="d-inline-block">
                                <h5>twitter</h5>
                                <span>current new timeline</span>
                            </div>
                        </div>
                        <div class="card-block text-center">
                            <div class="row">
                                <div class="col-6 b-r-default">
                                    <h2>25</h2>
                                    <p class="text-muted">new tweet</p>
                                </div>
                                <div class="col-6">
                                    <h2>450+</h2>
                                    <p class="text-muted">Follower</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Home/BarChartAdmin",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    successFunc(response);
                },
            });

            function successFunc(jsondata) {
                var dataPoints = [];
                for (var i = 0; i < jsondata.length; i++) {
                    dataPoints.push({
                        x: new Date(jsondata[i].book_Added_On),
                        y: parseInt(jsondata[i].no_Of_Copies_Actual)
                    });
                }
                var chart = new CanvasJS.Chart("statestics-chart", {
                    animationEnabled: true,
                    theme: "light2",

                    axisY: {
                        title: "Copies",
                        titleFontSize: 20,
                        includeZero: true
                    },
                    data: [{
                        type: "column",
                        yValueFormatString: "#,### Copies",
                        dataPoints: dataPoints
                    }]
                });
                chart.render();
            }
        });
    </script>
</body>

</html>