@model List<Library_Management_System.Models.DTO.BookHistory>

<div class="page-body">
    <div class="card" id="cardid">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>Book Name</th>
                            <th>Issue Date</th>
                            <th>Due Date</th>
                            <th>Return Date</th>
                            <th>Penalty</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model)
                        {
                            <tr>
                                <td>@row.Book_Name</td>
                                <td>@row.Issue_Date</td>
                                <td>@row.Due_Date</td>
                                <td>@row.Return_Date</td>
                                <td>@row.Penalty</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
